form {
  text-align: center;
  padding-top: 340px;
}

div {
  padding: 5px;
}

label {
  padding-right: 10px;
}
.bottles {
  padding-left: 7px;
}

.time {
  padding-left: 21px;
}

.form-check2 {
  padding-left: 21px;
}

.button {
  padding-left: 20px;
}
.output1 {
  padding-left: 10px;
}
